.loading {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	width: 75px;
	height: 10px;
	cursor: default;
	overflow: hidden;
	border-radius: 50px;
	background: rgb(47, 44, 47);
	background: linear-gradient(22deg, rgba(31, 31, 31, 1) 63%, rgba(12, 10, 18, 1) 99%);

	.loading-value {
		margin: auto;
		width: 100%;
		height: 100%;
		border-radius: 70px;
		transform-origin: 0% 50%;
		background-color: #ebc50f;
		animation: loading 1s infinite linear;
	}
}

@keyframes loading {
	0% {
		transform: translateX(0) scaleX(0);
	}
	40% {
		transform: translateX(0) scaleX(0.4);
	}
	100% {
		transform: translateX(100%) scaleX(0.5);
	}
}
